body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  overflow: scroll;
}

:root {
  --brand-color: #2196f3;
}

:root {
  --first-important-color: #212121;
}

:root {
  --second-important-color: #757575;
}

:root {
  --third-important-color: #fff;
}

:root {
  --background-color-one: #2f303a;
}

.container {
  width: 1600px;
}

.contact-information {
  fill: var(--second-important-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-information:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.interactive-elements {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.interactive-elements:hover {
  color: var(--brand-color);
}

button {
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--brand-color);
}

.header-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.menu {
  color: var(--first-important-color);
  text-decoration: none;
}

.header-contact {
  color: var(--second-important-color);
  text-decoration: none;
}

.first-section-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--third-important-color);
  width: 696px;
  text-align: center;
  text-transform: uppercase;
  margin: 200px 452px 30px 452px;
}

.first-section-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-important-color);
  background-color: var(--brand-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-bottom: 200px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover {
  color: var(--brand-color);
  background-color: var(--third-important-color);
}

.second-section-header {
  font-size: 14px;
  line-height: 1.14;
}

.second-section-p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-important-color);
}

.third-section-header {
  font-size: 36px;
  line-height: 1.17;
}

.fourth-section-header {
  font-size: 36px;
  line-height: 1.17;
}

.names {
  font-size: 16px;
  line-height: 1.19;
}

.positions {
  font-size: 16px;
  line-height: 1.19;
  color: var(--second-important-color);
}

.portfolio-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--first-important-color);
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  height: 38px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons:hover {
  color: var(--third-important-color);
  background-color: var(--brand-color);
  box-shadow: 2px 2px 10px #000;
}

p > strong {
  font-size: 18px;
  line-height: 2;
}

.portfolio-p {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-important-color);
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-important-color);
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

div > a[href="mailto:info@example.com"] {
  text-decoration: none;
}

div > a[href="tel:+48111111111"] {
  text-decoration: none;
}

.header-logo-span {
  color: var(--first-important-color);
}

.section {
  padding: 94px 0 94px 0;
}

.header-box {
  display: flex;
  width: 1600px;
  justify-content: space-between;
  padding-inline: 215px;
  padding-block: 24px;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}

.navigation {
  flex-grow: 2;
  padding: 0;
  margin: 0;
}

.logo {
  margin: 0;
  padding: 0;
}

.menu-box {
  display: flex;
  gap: 46px;
  margin: 0;
}

.contact-box {
  display: flex;
  align-items: baseline;
  gap: 50px;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.first-section {
  display: flex;
  width: 1600px;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-one);
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6)),
    url(../images/img17.jpg);
  background-size: 1600px;
  padding: 0;
}

.second-section {
  padding-bottom: 0;
}

.second-section-box {
  display: flex;
  width: 1600px;
  padding-inline: 215px;
  gap: 30px;
  justify-content: space-between;
  margin: 0;
}

.second-section-icons-background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-section-header {
  margin: 0 624px 50px 624px;
  text-align: center;
  width: 352px;
}

.third-section-items {
  display: flex;
  width: 1600px;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  padding-inline: 32px;
  padding-bottom: 30px;
}

.icon-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-box:hover {
  background-color: var(--brand-color);
  fill: var(--third-important-color);
}

.fourth-section {
  width: 1600px;
  background-color: #f5f4fa;
}

.fourth-section-header {
  width: 210px;
  margin: 0 695px 50px 695px;
}

.fourth-section-items {
  display: flex;
  width: 1600px;
  gap: 30px;
  padding: 0 215px 0 215px;
  margin: 0;
}

footer {
  width: 1600px;
  padding-block: 60px;
  background-color: var(--background-color-one);
}

.all-footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.find-us {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer {
  width: 246px;
  margin-left: 215px;
}

.footer-logo {
  width: 145px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

.footer-logo-span {
  color: var(--third-important-color);
}

.footer-pharagraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-important-color);
  margin: 0;
  padding: 0;
}

.footer-social-media-icons {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.footer-icon-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  fill: var(--third-important-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-box:hover {
  background-color: var(--brand-color);
}

.workers-list-item {
  width: 270px;
  margin: 0;
  padding: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.text-item {
  width: 270px;
  margin: 0;
  padding: 0;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

.portfolio-first-section {
  padding-bottom: 0;
}
.portfolio-menu-box-items {
  display: flex;
  width: 1600px;
  padding: 0 518px 0 510px;
  gap: 8px;
  margin: 0;
}

.button-1 {
  width: 121px;
}

.button-2 {
  width: 93px;
}

.button-3 {
  width: 114px;
}

.button-4 {
  width: 91px;
}

.button-5 {
  width: 121px;
}

.portfolio-second-section {
  padding-top: 50px;
}
.portfolio-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
  margin: 0 251px 0 215px;
  padding: 0;
}

.portfolio-items {
  border-bottom: 1px solid #e5e5e5;
  margin: 0;
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-onlay-parent {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 294px;
  width: 100%;
}

.blue-onlay {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 149, 243, 0.9);
  transform: translateY(110%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blue-onlay-parent:hover .blue-onlay {
  transform: translateY(0);
}

.blue-onlay-pharagraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--third-important-color);
  margin-block: 49px;
  width: 301px;
  height: 196px;
  padding: 0;
  margin-left: 24px;
}

.portfolio-items:hover {
  box-shadow: 4px 4px 10px #000;
}

.portfolio-figcaption {
  padding-left: 24px;
  padding-right: 24px;
}

.customers-icon {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon:hover {
  border: 1px solid var(--brand-color);
  fill: var(--brand-color);
}

.customers-section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-important-color);
  margin-top: 94px;
  margin-bottom: 50px;
}

.customers-section-box {
  display: flex;
  width: 1600px;
  gap: 30px;
  padding-inline: 215px;
  margin-bottom: 94px;
  justify-content: space-between;
}

.our-tasks-box {
  position: relative;
}

.our-tasks {
  position: absolute;
  top: 224px;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-tasks-pharagraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-important-color);
  margin: 0;
  padding-block: 27px;
}

.menu-first-item {
  position: relative;
}
.menu-first-item::after {
  content: "";
  position: absolute;
  width: 53px;
  height: 4px;
  left: 0;
  top: 44.5px;
  background: var(--brand-color);
  border-radius: 2px;
}

.menu-second-item {
  position: relative;
}
.menu-second-item::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 4px;
  left: 0;
  top: 44.5px;
  background: var(--brand-color);
  border-radius: 2px;
}

.backdrop {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 0.15s;
  z-index: 2;
}

.is-hidden {
  transform: scale(0);
  z-index: 2;
}

.modal {
  width: 528px;
  /* height: 581px; */
  background-color: var(--third-important-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.modal-button {
  position: absolute;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--third-important-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 8px;
  top: 8px;
  z-index: 2;
}

.form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-important-color);
  margin-top: 40px;
  margin-bottom: 30px;
}

.my-form {
  height: 501px;
}

.fieldset {
  display: flex;
  position: relative;
  padding: 0;
  border-radius: 4px;
  margin-block: 28px;
  margin-inline: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.my-form .label {
  position: absolute;
  top: -18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--second-important-color);
}

.my-form .icon {
  width: 18px;
  height: 18px;
  margin-block: 11px;
  margin-inline: 14px;
  fill: var(--first-important-color);
}

.my-form .input {
  border: 0;
  background-color: transparent;
  font-size: 12px;
  padding: 0;
}

.my-form .input:focus {
  outline: 0;
}

.fieldset:has(input:focus) {
  border-color: var(--brand-color);
}

.fieldset:has(input:focus) .icon {
  fill: var(--brand-color);
}

.my-form .legal-checkbox {
  position: static;
}

.legal-checkbox input {
  width: 20px;
  height: 20px;
}

.comment-fieldset {
  height: 120px;
  position: relative;
}

.comment-textarea {
  position: absolute;
  margin-block: 12px;
  margin-inline: 16px;
  width: 416px;
  height: 96px;
  resize: none;
}

.comment-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.fieldset:has(textarea:focus) {
  border-color: var(--brand-color);
}

.form-link {
  color: var(--brand-color);
}

.checkbox-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--second-important-color);
  margin-inline: 54px;
}

.input-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-important-color);
  background-color: var(--brand-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-bottom: 200px;
  margin-top: 30px;
  margin-inline: 164px;
  padding: 0;
}

.input-submit:hover {
  cursor: pointer;
}

.newsletter-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  color: var(--third-important-color);
}

.newsletter-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-important-color);
}

.newsletter-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.input-submit-newsletter {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--third-important-color);
  background-color: var(--brand-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: left;
  padding-left: 42px;
  margin-top: 20px;
}

.input-submit-newsletter:hover {
  cursor: pointer;
}

.newsletter-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

.newsletter-fieldset {
  display: flex;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.newsletter-icon {
  fill: var(--third-important-color);
  position: absolute;
  right: 28px;
  top: 33px;
}

.newsletter-span {
  position: relative;
}

.newsletter-checked-icon {
  fill: transparent;
  background-color: transparent;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 1px;
  left: -21px;
  border-radius: 4px;
  border: 1px solid var(--first-important-color);
  cursor: pointer;
}

input:checked + span svg {
  fill: var(--third-important-color);
  background-color: var(--brand-color);
  border: none;
}

.checkbox-input {
  visibility: hidden;
}
